<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<ogonecw>
			<information>
				<version>3.0.78</version>
			</information>
			<shop>
				<alias_management>0</alias_management>
				<await_notification>1</await_notification>
				<external_checkout_account_creation>force_selection</external_checkout_account_creation>
			</shop>
			<general>
				<operation_mode><![CDATA[test]]></operation_mode>
				<pspid/>
				<test_pspid/>
				<live_sha_passphrase_in/>
				<live_sha_passphrase_out/>
				<test_sha_passphrase_in/>
				<test_sha_passphrase_out/>
				<hash_method><![CDATA[sha512]]></hash_method>
				<order_id_schema><![CDATA[order_{id}]]></order_id_schema>
				<title/>
				<order_description_schema><![CDATA[Order {id}]]></order_description_schema>
				<template><![CDATA[default]]></template>
				<template_url/>
				<shop_id/>
				<api_user_id/>
				<api_password/>
				<alias_usage_message/>
				<transaction_updates><![CDATA[inactive]]></transaction_updates>
			</general>
		</ogonecw>
		<payment>
			<ogonecw_mastercard>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\MasterCard</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[MasterCard]]></title>
				<description><![CDATA[Pay with MasterCard]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<refusing_threshold><![CDATA[3]]></refusing_threshold>
				<three_d_secure_behavior><![CDATA[never]]></three_d_secure_behavior>
				<three_d_secure_country_list/>
				<country_check><![CDATA[inactive]]></country_check>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</ogonecw_mastercard><ogonecw_creditcard>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\CreditCard</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[Credit Card]]></title>
				<description><![CDATA[Pay with Credit Card]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<payment_method_listing><![CDATA[2]]></payment_method_listing>
				<credit_card_brands><![CDATA[visa,mastercard,americanexpress,diners,discovercard,jcb,maestrouk,maestro,cartebleu,solo,uatp]]></credit_card_brands>
				<refusing_threshold><![CDATA[3]]></refusing_threshold>
				<three_d_secure_behavior><![CDATA[never]]></three_d_secure_behavior>
				<three_d_secure_country_list/>
				<country_check><![CDATA[inactive]]></country_check>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</ogonecw_creditcard><ogonecw_acceptgiro>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\Acceptgiro</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[Acceptgiro]]></title>
				<description><![CDATA[Pay with Acceptgiro]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</ogonecw_acceptgiro><ogonecw_airplus>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\AirPlus</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[AirPlus]]></title>
				<description><![CDATA[Pay with AirPlus]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</ogonecw_airplus><ogonecw_americanexpress>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\AmericanExpress</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[American Express]]></title>
				<description><![CDATA[Pay with American Express]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<refusing_threshold><![CDATA[3]]></refusing_threshold>
				<country_check><![CDATA[inactive]]></country_check>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</ogonecw_americanexpress><ogonecw_aurore>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\Aurore</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[Aurore]]></title>
				<description><![CDATA[Pay with Aurore]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</ogonecw_aurore><ogonecw_cartebleue>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\CarteBleue</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[Carte Bleue]]></title>
				<description><![CDATA[Pay with Carte Bleue]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<refusing_threshold><![CDATA[3]]></refusing_threshold>
				<three_d_secure_behavior><![CDATA[never]]></three_d_secure_behavior>
				<three_d_secure_country_list/>
				<country_check><![CDATA[inactive]]></country_check>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</ogonecw_cartebleue><ogonecw_cofinoga>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\Cofinoga</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[Cofinoga]]></title>
				<description><![CDATA[Pay with Cofinoga]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</ogonecw_cofinoga><ogonecw_dankort>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\Dankort</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[Dankort]]></title>
				<description><![CDATA[Pay with Dankort]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<refusing_threshold><![CDATA[3]]></refusing_threshold>
				<country_check><![CDATA[inactive]]></country_check>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</ogonecw_dankort><ogonecw_diners>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\Diners</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[Diners Club]]></title>
				<description><![CDATA[Pay with Diners Club]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<refusing_threshold><![CDATA[3]]></refusing_threshold>
				<country_check><![CDATA[inactive]]></country_check>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</ogonecw_diners><ogonecw_discovercard>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\DiscoverCard</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[Discover Card]]></title>
				<description><![CDATA[Pay with Discover Card]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<refusing_threshold><![CDATA[3]]></refusing_threshold>
				<country_check><![CDATA[inactive]]></country_check>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</ogonecw_discovercard><ogonecw_jcb>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\Jcb</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[JCB]]></title>
				<description><![CDATA[Pay with JCB]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<refusing_threshold><![CDATA[3]]></refusing_threshold>
				<country_check><![CDATA[inactive]]></country_check>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</ogonecw_jcb><ogonecw_lasercard>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\LaserCard</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[Laser Card]]></title>
				<description><![CDATA[Pay with Laser Card]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<refusing_threshold><![CDATA[3]]></refusing_threshold>
				<country_check><![CDATA[inactive]]></country_check>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</ogonecw_lasercard><ogonecw_maestrouk>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\MaestroUK</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[Maestro UK]]></title>
				<description><![CDATA[Pay with Maestro UK]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<refusing_threshold><![CDATA[3]]></refusing_threshold>
				<three_d_secure_behavior><![CDATA[never]]></three_d_secure_behavior>
				<three_d_secure_country_list/>
				<country_check><![CDATA[inactive]]></country_check>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</ogonecw_maestrouk><ogonecw_solocard>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\SoloCard</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[Solo Card]]></title>
				<description><![CDATA[Pay with Solo Card]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</ogonecw_solocard><ogonecw_uatp>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\Uatp</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[Universal Air Travel Plan (UATP) Card]]></title>
				<description><![CDATA[Pay with Universal Air Travel Plan (UATP) Card]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<refusing_threshold><![CDATA[3]]></refusing_threshold>
				<three_d_secure_behavior><![CDATA[never]]></three_d_secure_behavior>
				<three_d_secure_country_list/>
				<country_check><![CDATA[inactive]]></country_check>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</ogonecw_uatp><ogonecw_visa>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\Visa</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[Visa]]></title>
				<description><![CDATA[Pay with Visa]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<refusing_threshold><![CDATA[3]]></refusing_threshold>
				<three_d_secure_behavior><![CDATA[never]]></three_d_secure_behavior>
				<three_d_secure_country_list/>
				<country_check><![CDATA[inactive]]></country_check>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</ogonecw_visa><ogonecw_bcmc>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\Bcmc</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[Bancontact]]></title>
				<description><![CDATA[Pay with Bancontact]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<refusing_threshold><![CDATA[3]]></refusing_threshold>
				<three_d_secure_behavior><![CDATA[never]]></three_d_secure_behavior>
				<three_d_secure_country_list/>
				<country_check><![CDATA[inactive]]></country_check>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</ogonecw_bcmc><ogonecw_uneurocom>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\UnEuroCom</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[1Euro.com]]></title>
				<description><![CDATA[Pay with 1Euro.com]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<refusing_threshold><![CDATA[3]]></refusing_threshold>
				<country_check><![CDATA[inactive]]></country_check>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</ogonecw_uneurocom><ogonecw_maestro>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\Maestro</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[Maestro]]></title>
				<description><![CDATA[Pay with Maestro]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<refusing_threshold><![CDATA[3]]></refusing_threshold>
				<country_check><![CDATA[inactive]]></country_check>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</ogonecw_maestro><ogonecw_postfinancecard>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\PostFinanceCard</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[PostFinance Card]]></title>
				<description><![CDATA[Pay with PostFinance Card]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<refusing_threshold><![CDATA[3]]></refusing_threshold>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</ogonecw_postfinancecard><ogonecw_amazoncheckout>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\AmazonCheckout</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[Amazon Payments]]></title>
				<description><![CDATA[Pay with Amazon Payments]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<refusing_threshold><![CDATA[3]]></refusing_threshold>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</ogonecw_amazoncheckout><ogonecw_belfiusdirectnet>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\BelfiusDirectNet</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[Belfius Direct Net]]></title>
				<description><![CDATA[Pay with Belfius Direct Net]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<refusing_threshold><![CDATA[3]]></refusing_threshold>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</ogonecw_belfiusdirectnet><ogonecw_cashticket>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\CashTicket</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[Cash-Ticket]]></title>
				<description><![CDATA[Pay with Cash-Ticket]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<refusing_threshold><![CDATA[3]]></refusing_threshold>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</ogonecw_cashticket><ogonecw_cbconline>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\CbcOnline</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[CBC Online]]></title>
				<description><![CDATA[Pay with CBC Online]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<refusing_threshold><![CDATA[3]]></refusing_threshold>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</ogonecw_cbconline><ogonecw_centeaonline>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\CenteaOnline</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[CENTEA Online]]></title>
				<description><![CDATA[Pay with CENTEA Online]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<refusing_threshold><![CDATA[3]]></refusing_threshold>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</ogonecw_centeaonline><ogonecw_edankort>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\EDankort</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[eDankort]]></title>
				<description><![CDATA[Pay with eDankort]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<refusing_threshold><![CDATA[3]]></refusing_threshold>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</ogonecw_edankort><ogonecw_eps>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\Eps</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[EPS]]></title>
				<description><![CDATA[Pay with EPS]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<refusing_threshold><![CDATA[3]]></refusing_threshold>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</ogonecw_eps><ogonecw_fidorpay>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\FidorPay</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[FidorPay]]></title>
				<description><![CDATA[Pay with FidorPay]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<refusing_threshold><![CDATA[3]]></refusing_threshold>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</ogonecw_fidorpay><ogonecw_giropay>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\Giropay</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[giropay]]></title>
				<description><![CDATA[Pay with giropay]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<refusing_threshold><![CDATA[3]]></refusing_threshold>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</ogonecw_giropay><ogonecw_ideal>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\IDeal</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[iDEAL]]></title>
				<description><![CDATA[Pay with iDEAL]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<refusing_threshold><![CDATA[3]]></refusing_threshold>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</ogonecw_ideal><ogonecw_inghomepay>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\IngHomePay</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[ING HomePay]]></title>
				<description><![CDATA[Pay with ING HomePay]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<refusing_threshold><![CDATA[3]]></refusing_threshold>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</ogonecw_inghomepay><ogonecw_kbconline>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\KbcOnline</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[KBC Online]]></title>
				<description><![CDATA[Pay with KBC Online]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<refusing_threshold><![CDATA[3]]></refusing_threshold>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</ogonecw_kbconline><ogonecw_mpass>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\Mpass</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[mpass]]></title>
				<description><![CDATA[Pay with mpass]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<refusing_threshold><![CDATA[3]]></refusing_threshold>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</ogonecw_mpass><ogonecw_paysafecard>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\Paysafecard</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[paysafecard]]></title>
				<description><![CDATA[Pay with paysafecard]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<refusing_threshold><![CDATA[3]]></refusing_threshold>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</ogonecw_paysafecard><ogonecw_postfinanceefinance>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\PostFinanceEFinance</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[PostFinance E-Finance]]></title>
				<description><![CDATA[Pay with PostFinance E-Finance]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<refusing_threshold><![CDATA[3]]></refusing_threshold>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</ogonecw_postfinanceefinance><ogonecw_directdebits>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\DirectDebits</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[Direct Debits]]></title>
				<description><![CDATA[Pay with Direct Debits]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<processor><![CDATA[Telego]]></processor>
				<sepa_mandate_id_schema><![CDATA[{year}-{month}-{day}: {random}]]></sepa_mandate_id_schema>
				<capturing><![CDATA[direct]]></capturing>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</ogonecw_directdebits><ogonecw_intersolve>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\InterSolve</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[InterSolve]]></title>
				<description><![CDATA[Pay with InterSolve]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</ogonecw_intersolve><ogonecw_pingping>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\PingPing</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[PingPing]]></title>
				<description><![CDATA[Pay with PingPing]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</ogonecw_pingping><ogonecw_tunz>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\Tunz</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[TUNZ]]></title>
				<description><![CDATA[Pay with TUNZ]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</ogonecw_tunz><ogonecw_cashuprepaid>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\CashUPrepaid</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[CASHUPrepaid]]></title>
				<description><![CDATA[Pay with CASHUPrepaid]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</ogonecw_cashuprepaid><ogonecw_paypal>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\PayPal</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[PayPal]]></title>
				<description><![CDATA[Pay with PayPal]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</ogonecw_paypal><ogonecw_directebanking>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\DirectEBanking</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[Direct E-Banking]]></title>
				<description><![CDATA[Pay with Direct E-Banking]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<brand_country><![CDATA[de]]></brand_country>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</ogonecw_directebanking><ogonecw_openinvoice>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\OpenInvoice</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[Open Invoice]]></title>
				<description><![CDATA[Pay with Open Invoice]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<processor><![CDATA[billpay]]></processor>
				<brand_country><![CDATA[de]]></brand_country>
				<capturing><![CDATA[direct]]></capturing>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</ogonecw_openinvoice><ogonecw_masterpass>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\MasterPass</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[MasterPass]]></title>
				<description><![CDATA[Pay with MasterPass]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<refusing_threshold><![CDATA[3]]></refusing_threshold>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</ogonecw_masterpass><ogonecw_banktransfer>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\BankTransfer</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[Bank Transfer]]></title>
				<description><![CDATA[Pay with Bank Transfer]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<processor_country><![CDATA[none]]></processor_country>
				<capturing><![CDATA[direct]]></capturing>
				<refusing_threshold><![CDATA[3]]></refusing_threshold>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</ogonecw_banktransfer><ogonecw_instalmentinvoice>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\InstalmentInvoice</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[Instalment Invoice Payment]]></title>
				<description><![CDATA[Pay with Instalment Invoice Payment]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<processor><![CDATA[RatePAY]]></processor>
				<brand_country><![CDATA[de]]></brand_country>
				<capturing><![CDATA[direct]]></capturing>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</ogonecw_instalmentinvoice><ogonecw_threexcb>
				<active>0</active>
				<model>Customweb\OgoneCw\Model\Payment\Method\Threexcb</model>
				<payment_action>initialize</payment_action>
				<group>ogonecw</group>
				<title><![CDATA[3xCB]]></title>
				<description><![CDATA[Pay with 3xCB]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<refusing_threshold><![CDATA[3]]></refusing_threshold>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</ogonecw_threexcb>
		</payment>
	</default>
</config>